resources/step-function.yml
ttlMachine:
  events:
    - http:
        path: /messages
        method: POST
        authorizer:
          arn: ${self:custom.config.${self:provider.stage}.cognitoUserPoolArn}
  definition:
    Comment: "Delete message after it expires"
    StartAt: FirstState
    States:
      FirstState:
        Type: Task
        Resource:
          Fn::GetAtt: [postMessageWithExpirationTime, Arn]
        Next: WaitState
      WaitState:
        Type: Wait
        SecondsPath: "$.expirationTime"
        Next: FinalState
      FinalState:
        Type: Task
        Resource:
          Fn::GetAtt: [deleteMessage, Arn]
        InputPath: "$.id"
        End: true
